@use "variables" as *;
@use "typography" as *;


body {
    background: $bg_color;
    font-size: 16px;
    color: $tx_color;
    line-height: 1.3;
}



p,span,li {
    font-family: $font_main;
    color: $tx_color;
}

a {
    color: $link_color;
    font-weight: bold;
}


.container {
    max-width: 1100px;
    margin: 0 auto;

    .row {
        padding: 0 20px;
    }

}

footer ul {
    display: flex;
    justify-content: center;
    padding: 30px 20px;
    position: fixed;
    bottom: 30px;
    width: 100%;
    
    li {
        list-style: none;

        &:last-child {
            margin-left: 15px;
        }

        a {
            text-decoration: none;
        }
    }
}