@use "variables" as *;
@use "typography" as *;


body {
    background: $bg_color;
    font-size: 16px;
    color: $tx_color;
}

p,span,li {
    font-family: $font_main;
    color: $tx_color;
}

a {
    color: $link_color;
    font-weight: bold;
}
